.tabla {
    margin: 15px;
}

.tabla td,
.tabla th {
  padding: 6px;
  border: 3px;
  border-style: double;
  border-color:rgb(104, 238, 27);
}

.tabla th {
    background-color: #05a844;
    color: rgb(231, 240, 110);
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}

.tabla tr:nth-child(even) {
    background-color:rgb(65, 230, 153);
}

.tabla tr:hover {
    background-color: rgb(231, 235, 181);
    cursor: pointer;
}