*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background: #FFFFFF;
    min-height: 100vh;

}

.contenedor{
    position: relative;
    width: 1366px;
    height:768px;
    display: flex;
    align-items: center;
}

.vector{
    position: absolute;
    width: 1368px;
    height: 728px;
    left: 0px;
    top: 0px;
}

.contenedor-textos{
    flex-basis: 50%;
    padding-left: 113px;
    overflow: hidden;
    color: darkblue;
    z-index: 1;
}

.titulo{    
    position: absolute;
    width: 428px;
    height: 98px;
    left: 113px;
    top: 97px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 70px;
    color: #27097a;
}

.subtitulo{
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    width: 340px;
    height: 36px;
    left: 113px;
    top: 368px;
    margin: 30px 0 ;
    color: rgb(6, 63, 121);
}

.contenedor-formulario{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 530px;
    height: 585px;
    left: 769px;
    top: 32px;
    color: black;  
    z-index: 1;
}

.ID{
    position: absolute;
    width: 530px;
    height: 85px;
    left: 769px;
    top: 32px;    
    z-index: 1;
    

/* text title */
    position: absolute;
    width: 333px;
    height: 23.06px;
    left: 0px;
    top: 0px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #000000;
}

.sub{

    /* Text Box*/
       position: absolute;
       width: 530px;
       height: 50px;
       left: 0px;
       top: 0px;
       background: #FFFFFF;
       border: 2px solid #746B6B;
       box-sizing: border-box;
       border-radius: 10px; 
       z-index: 1;  
    
    /* Text Box guide*/
        font-size: 20px;
        font-weight: 500;
        position: absolute;
        width: 500px;
        height: 30px;
        left: 0px;
        top: 0px;
        line-height: 30px;
        text-align: left;
        margin: 30px 0 ;
        color: rgba(75, 69, 69, 0.5); 
        z-index: 1;          
    }

    .valortotal{
        position: absolute;
        width: 530px;
        height: 85px;
        left: 769px;
        top: 157px;
        z-index: 1;
    
    /* text title */
        position: absolute;
        width: 333px;
        height: 23.06px;
        left: 0px;
        top: 80px;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 29px;
        display: flex;
        align-items: center;
        color: #000000;
    }
    
    .sub1{
        
    /* Text Box*/
        position: absolute;
        width: 530px;
        height: 50px;
        left: 0px;
        top: 80px;
        background: #FFFFFF;
        border: 2px solid #746B6B;
        box-sizing: border-box;
        border-radius: 10px; 
        z-index: 1;    
    
    /* Text Box guide*/
        font-size: 20px;
        font-weight: 500;
        position: absolute;
        width: 500px;
        height: 30px;
        left: 0px;
        top: 80px;
        line-height: 30px;
        text-align: left;
        margin: 30px 0 ;
        color: rgba(75, 69, 69, 0.5); 
        z-index: 1;          
    }

    .descripcion{
        position: absolute;
        width: 530px;
        height: 85px;
        left: 769px;
        top: 157px;
        z-index: 1;
    
    /* text title */
        position: absolute;
        width: 333px;
        height: 23.06px;
        left: 0px;
        top: 160px;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 29px;
        display: flex;
        align-items: center;
        color: #000000;
    }
    
    .sub2{
        
    /* Text Box*/
        position: absolute;
        width: 530px;
        height: 50px;
        left: 0px;
        top: 160px;
        background: #FFFFFF;
        border: 2px solid #746B6B;
        box-sizing: border-box;
        border-radius: 10px; 
        z-index: 1;    
    
    /* Text Box guide*/
        font-size: 20px;
        font-weight: 500;
        position: absolute;
        width: 500px;
        height: 30px;
        left: 0px;
        top: 160px;
        line-height: 30px;
        text-align: left;
        margin: 30px 0 ;
        color: rgba(75, 69, 69, 0.5);  
        z-index: 1;          
    }

    .fechainicial{
        position: absolute;
        width: 530px;
        height: 85px;
        left: 769px;
        top: 157px;
        z-index: 1;
    
    /* text title */
        position: absolute;
        width: 333px;
        height: 23.06px;
        left: 0px;
        top: 240px;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 29px;
        display: flex;
        align-items: center;
        color: #000000;
    }
    
    .sub3{
        
    /* Text Box*/
        position: absolute;
        width: 530px;
        height: 50px;
        left: 0px;
        top: 240px;
        background: #FFFFFF;
        border: 2px solid #746B6B;
        box-sizing: border-box;
        border-radius: 10px; 
        z-index: 1;    
    
    /* Text Box guide*/
        font-size: 20px;
        font-weight: 500;
        position: absolute;
        width: 500px;
        height: 30px;
        left: 0px;
        top: 240px;
        line-height: 30px;
        text-align: left;
        margin: 30px 0 ;
        color: rgba(75, 69, 69, 0.5); 
        z-index: 1;          
    }

    .fechafutura{
        position: absolute;
        width: 530px;
        height: 85px;
        left: 769px;
        top: 157px;
        z-index: 1;
    
    /* text title */
        position: absolute;
        width: 333px;
        height: 23.06px;
        left: 0px;
        top: 320px;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 29px;
        display: flex;
        align-items: center;
        color: #000000;
    }
    
    .sub4{
        
    /* Text Box*/
        position: absolute;
        width: 530px;
        height: 50px;
        left: 0px;
        top: 320px;
        background: #FFFFFF;
        border: 2px solid #746B6B;
        box-sizing: border-box;
        border-radius: 10px; 
        z-index: 1;    
    
    /* Text Box guide*/
        font-size: 20px;
        font-weight: 500;
        position: absolute;
        width: 500px;
        height: 30px;
        left: 0px;
        top: 320px;
        line-height: 30px;
        text-align: left;
        margin: 30px 0 ;
        color: rgba(75, 69, 69, 0.5);  
        z-index: 1;          
    }

    .encargado{
        position: absolute;
        width: 530px;
        height: 85px;
        left: 769px;
        top: 157px;
        z-index: 1;
    
    /* text title */
        position: absolute;
        width: 333px;
        height: 23.06px;
        left: 0px;
        top: 400px;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 29px;
        display: flex;
        align-items: center;
        color: #000000;
    }
    
    .sub5{
        
    /* Text Box*/
        position: absolute;
        width: 530px;
        height: 50px;
        left: 0px;
        top: 400px;
        background: #FFFFFF;
        border: 2px solid #746B6B;
        box-sizing: border-box;
        border-radius: 10px; 
        z-index: 1;    
    
    /* Text Box guide*/
        font-size: 20px;
        font-weight: 500;
        position: absolute;
        width: 500px;
        height: 30px;
        left: 0px;
        top: 400px;
        line-height: 30px;
        text-align: left;
        margin: 30px 0 ;
        color: rgba(75, 69, 69, 0.5);  
        z-index: 1;          
    }

.botonnuevaventa{
    display: inline-block;    
    padding: 15px 0 ;
    text-align: center;
    background: aquamarine;
    border-radius: 6px;
    text-decoration: none;
    position: absolute;
    width: 307px;
    height: 52px;
    left: 100px;
    top: 550px;
}

.contenedor-imagen{
    flex-basis: 50%;
    position: absolute;
    width: 379px;
    height: 317px;
    left: 351px;
    top: 404px;
    z-index: 1;
    text-align: center;
    overflow: hidden;
}

.img{
    width: 95%;
    animation: illustrationAnimate ease-in 1s infinite alternate;
}

@keyframes illustrationAnimate{
    0%{
        transform: scale(1);
    } 100%{
        transform: scale(1.05);
    }
}